.text-shadow {
    text-shadow: (0,0,0,0.5);
}

.flashes 
{
    line-height: 10px;
}

main .slider
{
 height: 91.1vh !important;
}

main .slider .slides
{
 height: inherit !important;
} 

main .indicators
{
 bottom: 2rem !important;
 z-index: 2;
}

@media only screen and (min-width: 1100px) 
{
  main .slider
    {
        height: 93.5vh !important;
    }
}

