{% extends "base.html" %}
{% block content %}
<div class="container">
    <h3 class="light-grey-text text-darken-4 center-align">CONTACT DETAIL</h3>
<div class="row card-panel grey lighten-4">

    <h5>
        {% if contact.is_helpful %}
        <i class="fas fa-star"></i>
        {% endif %}
        {{ contact.contact_name }}
    </h5>
    
    <!--created on-->
    <div class="row">
        <p><strong> Created On: </strong>{{ contact.created_on }}</p>

    </div>
     <!--email-->
     <div class="row">
        <p><strong> Email: </strong>{{ contact.email_name }}</p>

    </div>
    <!--Industry field-->
    <div class="row">
        <p><strong> Industry: </strong>{{ contact.industry_name }}</p>

    </div>
     <!--person detail-->
     <div class="row">
        <p><strong> Details: </strong>{{ contact.person_detail }}</p>

    </div>
     <!--submit button-->
    <div class="row">

        <div class="col s6 right-align">
            <a href="{{ url_for('edit_contact', id=contact._id) }}" type="submit" class="btn-large text-shadow">
            Edit Contact<i class="fas fa-edit right"></i>
            </a>
        </div>
        <div class="col s6 left-align">
            <a href="{{url_for('delete_contact', id=contact._id)}}" class="btn-large grey darken-3 text-shadow">
                Delete<i class="far fa-window-close right"></i>
            </a>
        </div>


    </div>
</div>
    
{% endblock %}