{% extends "base.html" %}
{% block content %}
 
<div class="slider">
    <ul class="slides">
        <li>
            <img src="static/images/pic_4.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>Organize Your Leads!</h3>
                <h5 class="light grey-text text-lighten-3 text-shadow">Contact Management is the next level.</h5>
            </div>
        </li>
        <li>
            <img src="static/images/pic_3.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3>Add Personalized Details</h3>
                <h5 class="light grey-text text-lighten-3 text-shadow">Contact Management is the next level..</h5>
            </div>
        </li>
        <li>
            <img src="static/images/pic_2.jpg"><!-- random image -->  
            <div class="caption right-align">
                <h3>Know When you Last Reached Out</h3>
                <h5 class="light grey-text text-lighten-3 text-shadow">Contact Management is the next level.</h5>
            </div>
        </li>
        <li>
            <img
                src="static/images/pic_1.jpg"> <!-- random image -->           
            <div class="caption center-align">
                <h3>Contact Management Is What We Do!</h3>
                <h5 class="light grey-text text-lighten-3 text-shadow">Contact Management is the next level.</h5>
            </div>
            
        </li>
    </ul>
</div>

{% endblock %}