{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3 class="light-grey-text text-darken-4 center-align">Contacts</h3>
    {% if contacts | length < 1 %} 
        <div>
            <p>
                You don't have any contacts yet. But let's get started building your
                contact list so you can start sharing your talent and get some work.
            </p>
        </div>
        <a href="{{ url_for('add_contact') }}" class="btn">Add Contact</a>

    {% else %}
        {% for contact in contacts %}
            <div class="row card-panel grey lighten-4">

                <h5>
                    {% if contact.is_helpful %}
                    <i class="fas fa-star"></i>
                    {% endif %}
                    {{ contact.contact_name }}
                </h5>

                <a href="{{ url_for('contact_detail', id=contact._id) }}">See Details</a>
                <!--created on-->
                <div class="row">
                    <p><strong> Created On: </strong>{{ contact.created_on }}</p>

                </div>
                <!--Industry field-->
                <div class="row">
                    <p><strong> Industry: </strong>{{ contact.industry_name }}</p>



                </div>
                <div class="row">

                    <div class="col s6 right-align">
                        <a href="{{ url_for('edit_contact', id=contact._id) }}" class="btn text-shadow">
                        Edit Contact<i class="fas fa-edit right"></i>
                        </a>
                    </div>
                    <div class="col s6 left-align">
                        <a href="{{url_for('delete_contact', id=contact._id)}}" class="btn grey darken-3 text-shadow">
                            Delete<i class="far fa-window-close right"></i>
                        </a>
                    </div>
            
            
                </div>
            </div>

        {% endfor %}

        <!--Add button-->
        <div class="row">
            <div class="col s12 left-align">
                <a class="btn-large grey darken-3 text-shadow">
                    Add Contact<i class="fas fa-plus-square right"></i>
                    </a>
            </div>
        </div>
    {% endif %}

</div>


{% endblock %}