<h3 class="center-align light-grey-text text-darken-4">
    {{ username | capitalize }}'s Contacts
</h3>
{% if contacts | length < 1 %}
    <div>
        <p>
            You don't have any contacts yet. But let's get started building your
            contact list so you can start sharing your talent and get some work.
        </p>
    </div>
    <a href="{{ url_for('add_contact') }}" class="btn">Add Contact</a>

{% else %}
    {% for contact in contacts %}
        <div>
            <h2>{{ contact.contact_name }}</h2>
            <p>{{ contact.field_name }}</p>
            <p><strong>Email:</strong> {{ contact.email_name }}</p>
            <p><strong>Description:</strong> {{ contact.description }}</p>
            <p><strong>Due Date:</strong>{{ contact.due_date }}</p>
            {% if contact.is_urgent %}<p><strong>URGENT!</strong></p>{% endif %}
            <a href="/contacts/edit/{{ contact._id }}" class="btn">
                Edit
            </a>
            <form action="{{ url_for('delete', id=contact._id) }}" method="POST">
                <button type="submit" class="btn">
                    Delete
                </button>
            </form>
            {% if loop.index != contacts|length %}
                <hr>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}